@font-face {
font-family: "Gilroy";
src:url("../fonts/gilroyextrabold.woff2") format("woff2"),
url("../fonts/gilroyextrabold.woff") format("woff");
font-style: normal;
font-weight: 800;
}
@font-face {
font-family: "Gilroy";
src:url("../fonts/gilroylight.woff2") format("woff2"),
url("../fonts/gilroylight.woff") format("woff");
font-style: normal;
font-weight: 300;
}
@font-face {
font-family: "OpenSans";
src:url("../fonts/opensans.woff2") format("woff2"),
url("../fonts/opensans.woff") format("woff");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "OpenSans";
src:url("../fonts/opensanslight.woff2") format("woff2"),
url("../fonts/opensanslight.woff") format("woff");
font-style: normal;
font-weight: 300;
}
body {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  text-transform: none;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button  {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 12px 25px;
  position: relative;
  z-index: 10;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: none;
  box-shadow: none;

  outline: none;
}
.button::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #f0c52e;
  width: 100%;
  height: 8px;
  z-index: -1;
}
.button:hover::before,
.button:focus::before {
  transition: transform 0.6s ease-out;
  transform: scaleY(5);

}
.button:active::before {
  background-color: #000000;
}
.button:active {
  color: #f7e184;
  outline: none;
}
.cart-mask-button:active::before {
  background-color: #f0c52e;
}
.cart-mask-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.social-button {
  width: 32px;
  height: 32px;

  box-shadow: none;

  opacity: 0.3;
}
.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}
.social-button:active {
  opacity: 0.1;
}
.main-header {
  position: relative;
  width: 1160px;
  min-height: 186px;
  margin-top: 40px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 60px 0 60px;
  background-color: #f7e296;
  box-sizing: border-box;
  /*Временное свойство
  outline: 1px solid red;*/
}
.main-header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
  /*Временное свойство
  outline: 1px solid green;*/
}
.logo-container {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: -20px;
  left: 60px;
  /*Временное свойство
  outline: 1px solid lightblue;*/
}
.header-logo {
  width: 163px;
  height: 35px;

  opacity: 1;
}
.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}
.header-logo:active {
  opacity: 0.3;
}
.search {
  width: 441px;
  display: flex;
  position: relative;

  /*Временное свойство
  outline: 1px solid lightblue;*/
}
.search::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 4px;

  width: 16px;
  height: 16px;

 background-image: url("../img/search.svg");
 background-repeat: no-repeat;
 background-position: 0 0;

 /*Временное свойство
 outline: 1px solid lightblue;*/
}
.search-field {
  padding: 0;
  margin: 0;
  padding-left: 40px;
  width: 356px;

  font: inherit;
  color: #000000;

  background-color: transparent;
  border: 2px solid transparent;

  opacity: 0.3;
  outline: none;
}
.search-field:hover {
  opacity: 0.6;
}
.search-field:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
}
.search-button {
  margin: 0;
  padding: 0;
  width: 81px;
  height: 46px;

  font: inherit;
  color: #000000;

  border: 2px solid #000000;
  background-color: transparent;

  opacity: 0;

  outline: none;
}
input.search-field:focus + .search-button {
  opacity: 1;
}

.search-button:focus,
.search-button:hover {

  display: block;
  font: inherit;
  color: #ffffff;

  border: none;
  background-color: #000000;
}
.search-button:active {

  display: block;
  color: rgba(255, 255, 255, 0.3);

  opacity: 1;
}
.user-navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;

  padding: 0;

}
.login-user-navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;

  padding: 0;

  font: inherit;

  color: #000000;

  opacity: 1;
}
.login-user-navigation li:first-child {
  margin-right: 20px;
}
.login-user-navigation li:nth-child(2) {
  margin-right: 60px;
}
.login-user-navigation li:nth-child(3) {
  margin-right: 40px;
}
.login-user-navigation li:last-child {
  margin-left: auto;
}
.user-navigation li:first-child {
  margin-right: 215px;
}
.user-navigation li:nth-child(2) {
  margin-right: 40px;
}
.user-navigation li:last-child {
}
.user-navigation,
.site-navigation,
.user-info,
.login-user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a,
.user-info a,
.login-user-navigation a {
  color: #000000;
}
.user-navigation {
font: inherit;

color: #000000;

opacity: 1;
}
.user-navigation .log-in-link {
  padding-left: 26px;
  position: relative;
}
.user-navigation .compare-link {
  padding-left: 20px;
  position: relative;
}
.user-navigation .cart-link {
  padding-left: 23px;
  position: relative;
}
.user-navigation .log-in-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 13px;
    height: 12px;

   background-image: url("../img/user.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

  /*Временное свойство
   outline: 1px solid red;*/
}
.user-navigation .compare-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 10px;
    height: 10px;

   background-image: url("../img/compare.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

  /*Временное свойство
   outline: 1px solid red;*/
}
.user-navigation .cart-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 12px;
    height: 12px;

   background-image: url("../img/cart.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

  /*Временное свойство
   outline: 1px solid red;*/
}
.login-user-navigation .profile-link {
  padding-left: 26px;
  position: relative;
}
.login-user-navigation .compare-link {
  padding-left: 20px;
  position: relative;
}
.login-user-navigation .cart-link {
  padding-left: 23px;
  position: relative;
}
.login-user-navigation .profile-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 13px;
    height: 12px;

   background-image: url("../img/user.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

  /*Временное свойство
   outline: 1px solid red;*/
}
.login-user-navigation .compare-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 10px;
    height: 10px;

   background-image: url("../img/compare.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

  /*Временное свойство
   outline: 1px solid red;*/
}
.login-user-navigation .cart-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 12px;
    height: 12px;

   background-image: url("../img/cart.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

  /*Временное свойство
   outline: 1px solid red;*/
}
.main-header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /*Временное свойство
  outline: 1px solid yellow;*/
}
.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  /*Временное свойство
  outline: 1px solid blue;*/
}
.site-navigation {
  position: relative;

  padding: 0;
  margin: 0;
  margin-right: 295px;
  width: 240px;
  /*Временное свойство
  outline: 1px solid blue;*/
}
.site-navigation > li {
  position: relative;
}
.site-navigation::after {
  content: "";
  position: absolute;

  width: 16px;
  height: 16px;

  top: 3px;
  left: 230px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.user-info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  /*Временное свойство
  outline: 1px solid red;*/
}
.user-info li:first-child {
  margin-right: 40px;
}
.user-info li:last-child {
  margin-left: auto;
  margin-right: 0;
}
.site-navigation,
.user-info {
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 24px;
  color: #000000;

  opacity: 1;

}
.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.user-info a:hover,
.user-info a:focus,
.login-user-navigation a:hover,
.login-user-navigation a:focus {
  opacity: 0.6;
}
.user-navigation a:active,
.site-navigation a:active,
.user-info a:active,
.login-user-navigation a:active {
  opacity: 0.3;
}
.logout-link {
  font: inherit;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  opacity: 0.3;
}
.catalog-category-list {
  display: none;
  position: absolute;
  top: 25px;
  right: -860px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 34px;
  width: 1160px;
  height: 150px;
  background-color: #f7e296;

  z-index: 100;
  /*
  According to styleguide
  background-color: #f7e184;*/
}
.catalog-category-list a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: none;
  color: #000000;

  opacity: 1;
}
.catalog-category-list a:hover,
.catalog-category-list a:focus {
  opacity: 0.6;
}
.catalog-category-list a:active {
  opacity: 0.3;
}
.site-navigation > li:hover .catalog-category-list,
.site-navigation > li:focus .catalog-category-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}
.catalog-category-list li {
  margin: 0;
  padding: 0;
  width: 190px;
  margin-right: 60px;
  margin-bottom: 8px;
}
.catalog-category-list li:first-child,
.catalog-category-list li:nth-child(2),
.catalog-category-list li:nth-child(3) {
  margin-left: 60px;
}
.catalog-category-list li:nth-child(3),
.catalog-category-list li:last-child {
  margin-bottom: 0;
}
.catalog-category-list li:nth-child(5) {
  margin-bottom: 50px;
}
.catalog-category-list li:nth-child(4),
.catalog-category-list li:nth-child(5) {
  margin-right: 0;
}
.user-info {
  width: 500px;
  margin: 0;
  padding: 0;
}
.page-title {
  margin: 0;
  margin-bottom: 24px;
  margin-left: 60px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}
.breadcrumbs a {
  color: #000000;
}
.breadcrumbs {
  display: flex;
  width: 385px;
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
  margin-left: 60px;

  font: inherit;
  font-size: 14px;
  line-height: 24px;

  list-style: none;

  opacity: 0.3;
}
.breadcrumbs li {
  position: relative;

  margin-right: 40px;
}
.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 10px;
  right: -20px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  /*Временное свойство
  outline: 1px solid green;*/
}
.breadcrumbs-current::after {
  display: none;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}
.breadcrumbs a:active {
  opacity: 0.1;
}
.container {
  width: 1160px;
  margin: 0 auto;

  /*Временное свойство
  outline: 1px solid black;*/
}
.index-columns {
  display: flex;
  justify-content: space-between;
  /*Временное свойство
  outline: 1px solid purple;*/

  margin-bottom: 95px;
}
.index-columns h2{
  margin: 0;
  margin-bottom: 44px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}
.index-columns p {
  margin: 0;
  padding: 0;
}
.info-about-us {
  width: 475px;

  /*Временное свойство
  outline: 1px solid purple;*/
}
.info-about-us p:last-of-type {
  margin-bottom: 70px;
}
.info-contacts {
  width: 570px;

  /*Временное свойство
  outline: 1px solid purple;*/
}
.info-contacts p {
  margin-bottom: 40px;
}
.info-contacts img {
  margin-bottom: 54px;
}
.delivery-companies {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  margin-bottom: 45px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;

  list-style: circle outside;
}
.info-link {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 12px 40px;
  position: relative;
  z-index: 10;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: none;
  box-shadow: none;
}
.info-link::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #f0c52e;
  width: 100%;
  height: 8px;
  z-index: -1;
}
.info-link:hover::before,
.info-link:focus::before {
  transition: transform 0.6s ease-out;
  transform: scaleY(5);
}
.info-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-columns {
  position: relative;
}
.main-columns::before {
  content: "";
  position: absolute;

  top: 0;
  right: calc(50% + 252px);
  z-index: -10;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.08);
}
.main-columns::after {
  content: "";
  position: absolute;

  top: 0;

  z-index: -11;
  width: 100%;
  height: 70px;

  background-color: rgba(0, 0, 0, 0.08);
}
.sort-title {
  position: relative;
  display: flex;
  padding: 20px 0px 20px 60px;
  align-items: center;
}
.icon-up img {

  position: absolute;

  width: 11px;
  height: 10px;

  top: 30px;
  left: 1112px;

  opacity: 0.3;
}
.icon-down img {

  position: absolute;

  width: 11px;
  height: 10px;

  top: 30px;
  left: 1140px;

  opacity: 0.3;
}
.sort-legend {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.sort-title .sort-legend:first-of-type {
  margin-right: 255px;
}
.sort-title .sort-legend:last-of-type {
  margin-right: 55px;
}
.sort-parameters {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;

}
.sort-parameter a {
  text-decoration: none;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
}
.sort-parameter {
  margin-right: 30px;
}
.sort-parameter a:hover,
.sort-parameter a:focus,
.icon-up img:hover,
.icon-up img:focus,
.icon-up img:hover,
.icon-up img:focus {
  opacity: 0.6;
}
.sort-parameter a:active,
.icon-up img:active {
  opacity: 1;
}
.sort-parameter:last-child {
  margin-right: 0;
}
.catalog-columns {
  display: flex;
  justify-content: flex-start;
}
.filters {
  margin: 0;
  padding: 0;
  min-width: 270px;
  padding-top: 80px;
  padding-left: 60px;
  margin-right: 70px;

}
.filter-fieldset {
  margin: 0;
  padding: 0;
  padding-right: 68px;
  margin-bottom: 39px;
  border: none;
}
.filter-fieldset:last-of-type {
  margin-bottom: 50px;
}
.filter legend {
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  margin-bottom: 27px;
}
.filter legend::before {
  content: "";

  position: absolute;
  top: -13px;
  left: 0px;

  width: 200px;

  border: 1px solid black;
}
.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter-option {
  margin-bottom: 6px;
  padding-left: 40px;
}
.color-filter .filter-option:last-child,
.bluetooth-filter .filter-option:last-child {
  margin-bottom: 0;
}
.filter-option label{
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;

  font: inherit;
  font-size: 14px;
  line-height: 40px;

  color: #000000;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.filter-input-checkbox:checked + label::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.filter-input-checkbox:hover::before,
.filter-input-checkbox:focus::before,
.filter-input-checkbox:checked:hover::before,
.filter-input-checkbox:checked:focus::before {
  opacity: 0.6;
}
.filter-input:disabled + label::before {
  opacity: 0.25;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  top: 10px;
  left: -40px;

  background-image: url("../img/radio-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.filter-input-radio:hover::before,
.filter-input-radio:focus::before,
.filter-input-radio:checked:hover::before,
.filter-input-radio:checked:focus::before {
  opacity: 0.6;
}
.filter-input-radio:disabled + label::before {
  opacity: 0.25;
}
.catalog {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  width: 760px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;

  list-style: none;
}
.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 47px;
  margin-right: 40px;

}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-item:nth-child(3),
.catalog-item:nth-child(4) {
  margin-bottom: 0;
}
.item-product-photo {
  margin-bottom: 21px;
}
.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}
.catalog-item-title {
    padding: 0;
    margin: 0;
    width: 260px;
}
.catalog-item-title {

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;

  color: #000000;
}
.catalog-item-price {

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  color: #464646;

}
.cart-mask {
  position: absolute;
  display: none;
  padding: 80px;
  padding-top: 160px;
  padding-bottom: 20px;
  width: 200px;
  height: 200px;
  background-color: #eeeeee;
  opacity: 0.7;
  vertical-align: middle;
  text-align: center;
}
.cart-mask .button,
.cart-mask a {
  opacity: 1;
}
.cart-mask a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}
.catalog-item:hover .cart-mask{
  display: block;
}
.paginator {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 77px;
  padding: 0;

  background-color: #eeeeee;
}
.paginator-prev,
.paginator-next {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.paginator-prev:hover,
.paginator-next:hover,
.paginator-prev:focus,
.paginator-next:focus {
  opacity: 1;
}
.paginator-prev:active,
.paginator-next:active {
  color: rgba(0, 0, 0, 0.3);
}
.paginator-button {
  display: inline-block;

  width: 127px;
  height: 70px;

  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;

  padding: 27px 30px 27px 30px;

  background-color: transparent;
}
.paginator-button:hover,
.paginator-button:focus,
.paginator-button:active {
  background-color: #d9d9d9;
}

.paginator-list a {

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  opacity: 0.3;
}
.paginator-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 20px 210px 20px 210px;

  width: 495px;
}
.paginator-list li {
  margin-right: 32px;
}
.paginator-list li:last-child {
  margin-right: 0;
}
.paginator-list a:hover,
.paginator-list a:focus {
  opacity: 0.6;
}
.paginator-list a:active {
  opacity: 1;
}
.paginator-list .current-page {
  opacity: 1;
}
.main-footer {
  font: inherit;
  color: #ffffff;

  background-color: #464646;
  padding: 65px 0 65px 0;
  box-sizing: border-box;
  /*Временное свойство
  outline: 1px solid green;*/
}
.footer-rows {
  display: flex;
  flex-wrap: wrap;
  /*Временное свойство
  outline: 1px solid purple;*/
}
.main-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
  /*Временное свойство
  outline: 1px solid purple;*/
}
.footer-logo {
  width: 163px;
  height: 35px;
  opacity: 1;
}
.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}
.footer-logo:active {
  opacity: 0.3;
}
.logout-link-footer {
  font: inherit;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;

  opacity: 0.3;
}
.footer-user-navigation a {
  color: #ffffff;

  opacity: 0.7;
}
.footer-user-navigation {
  display: flex;
  justify-content: space-between;
  width: 330px;
  font: inherit;
  color: #ffffff;
  margin: 0;
  opacity: 0.7;
  padding: 0;
  margin-left: auto;
  list-style: none;
}
.footer-user-navigation .log-in-link {
  padding-left: 26px;
  position: relative;
}
.footer-user-navigation .compare-link {
  padding-left: 20px;
  position: relative;
}
.footer-user-navigation .cart-link {
  padding-left: 23px;
  position: relative;
}
.footer-user-navigation .log-in-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 13px;
    height: 12px;

   background-image: url("../img/user.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

  fill: #ffc600;
  /*Временное свойство
   outline: 1px solid red;*/
}
.footer-user-navigation .compare-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 10px;
    height: 10px;

   background-image: url("../img/compare.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

   fill: #ffc600;
  /*Временное свойство
   outline: 1px solid red;*/
}
.footer-user-navigation .cart-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 12px;
    height: 12px;

   background-image: url("../img/cart.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

  fill: #ffc600;
  /*Временное свойство
   outline: 1px solid red;*/
}
.footer-user-navigation li {
  margin-right: 40px;
}
.footer-user-navigation li:last-child {
  margin-right: 0;
}
.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  opacity: 1;
}
.footer-user-navigation a:active {
  opacity: 0.3;
}
.login-footer-user-navigation a {
  color: #ffffff;

  opacity: 0.7;
}
.login-footer-user-navigation {
  display: flex;
  justify-content: space-between;
  width: 480px;
  font: inherit;
  color: #ffffff;
  margin: 0;
  opacity: 0.7;
  padding: 0;
  margin-left: auto;
  list-style: none;
}
.login-footer-user-navigation .profile-link {
  padding-left: 26px;
  position: relative;
}
.login-footer-user-navigation .compare-link {
  padding-left: 20px;
  position: relative;
}
.login-footer-user-navigation .cart-link {
  padding-left: 23px;
  position: relative;
}
.login-footer-user-navigation .profile-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 13px;
    height: 12px;

   background-image: url("../img/user.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

  fill: #ffc600;
  /*Временное свойство
   outline: 1px solid red;*/
}
.login-footer-user-navigation .compare-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 10px;
    height: 10px;

   background-image: url("../img/compare.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

   fill: #ffc600;
  /*Временное свойство
   outline: 1px solid red;*/
}
.login-footer-user-navigation .cart-link::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    width: 12px;
    height: 12px;

   background-image: url("../img/cart.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

  fill: #ffc600;
  /*Временное свойство
   outline: 1px solid red;*/
}
.login-footer-user-navigation li {
  margin-right: 20px;
}
.login-footer-user-navigation li:nth-child(2) {
  margin-right: 40px;
}
.login-footer-user-navigation li:nth-child(3) {
  margin-right: 40px;
}
.login-footer-user-navigation li:last-child {
  margin-right: 0;
}
.login-footer-user-navigation a:hover,
.login-footer-user-navigation a:focus {
  opacity: 1;
}
.login-footer-user-navigation a:active {
  opacity: 0.3;
}
.main-footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 65px;
  /*Временное свойство
  outline: 1px solid purple;*/
}
.address {
  width: 205px;
  font: inherit;
  font-style: normal;
  color: #ffffff;
}
.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
}
.footer-navigation li {
  margin-right: 35px;
}
.footer-navigation li:last-child {
  margin-right: 0;
}
.footer-navigation a {
  color: #ffffff;
}
.footer-navigation {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 24px;

  color: #ffffff;

  opacity: 1;
}
.footer-navigation a:hover,
.footer-navigation a:focus {
  opacity: 0.6;
}
.footer-navigation a:active {
  opacity: 0.3;
}
.phonenumber {
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 170px;
}
.main-footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;

  /*Временное свойство
  outline: 1px solid purple;*/
}
.socials {
  position: relative;
  display: flex;
  width: 160px;
  padding: 0;
  margin: 0;
  margin-left: 510px;
  list-style: none;
}
.socials::before {
  content: "";

  position: absolute;
  top: 5px;
  left: -510px;

  width: 80px;
  height: 5px;

  border: 1px solid #ffc600;
  background-color: #ffc600;
}
.socials li {
  margin-right: 20px;
}
.socials li:last-child {
  margin-right: 0;
}
.socials a {
  color: #ffffff;
}
.htmlacademy-button {
  width: 27;
  height: 35px;
  margin-left: auto;
  opacity: 1;
}
.htmlacademy-button:hover,
.htmlacademy-button:focus {
  opacity: 0.6;
}
.htmlacademy-button:active {
  opacity: 0.1;
}

.modal {
  display: none;
  position: fixed;
  font: inherit;
  color: #000000;

  background-color: #ffffff;
  /*background-image: url("../img/modal.png");
  background-position: 0 0;
  background-repeat: no-no-repeat;*/
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 150;
}
.modal-login {
  top: 5%;
  left: 50%;

  width: 760px;
  margin-left: -480px;
  padding: 95px 100px;
}
.write-us-form {
  display: flex;
  flex-wrap: wrap;
}
.name-write-us-container,
.email-write-us-container,
.mail-write-us-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 40px;
}
.mail-write-us-container {
  width: 760px;
  margin-bottom: 52px;
}
.name-write-us-container {
  margin-right: 40px;
}
.modal-login label {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-family: "Gilroy extrabold";
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}
.modal-login input[type="text"],
.modal-login input[type="email"] {
  box-sizing: border-box;
  width: 360px;
  padding: 18px 20px;

}
.modal-login textarea {
  box-sizing: border-box;
  width: 760px;
  min-height: 160px;
  padding: 18px 20px;
}
.modal-login input[type="text"],
.modal-login input[type="email"],
.modal-login textarea {
  font: inherit;
  color: rgba(255, 0, 0, 0.4);

  background-color: #f2f2f2;
  opacity: 0.5;
  border: none;
}
.modal-login input[type="text"]:hover,
.modal-login input[type="email"]:hover,
.modal-login textarea:hover {
  background-color: #eaeaea;
  opacity: 0.8;
}
.modal-login input[type="text"]:focus,
.modal-login input[type="email"]:focus,
.modal-login textarea:focus {
  color: #000000;

  background-color: transparent;

  border: 3px solid #f0c52e;
}
.modal-login input[type="text"]:invalid,
.modal-login input[type="email"]:invalid,
.modal-login textarea:invalid {
  font: inherit;
  color: rgba(255, 0, 0, 0.4);

  background-color: #f6dada;

  border: none;
}
.modal-map {
  margin: 0;
  padding: 0;
  top: 40%;
  left: 50%;

  width: 960px;
  height: 560px;
  margin-left: -480px;

}
.modal-map p {
  margin: 0;
  padding: 0;
}
.modal-close {
  margin: 0;
  padding: 0;


  position: absolute;
  top: 22px;
  right: 22px;

  width: 54px;
  height: 54px;

  font-size: 0;

  border: 1px solid #f0c52e;
  border-radius: 50%;

  box-shadow: none;
  background-image: url("../img/modal-close.svg");
  opacity: 0.5;

  cursor: pointer;

  outline: none;
}
.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}
.modal-close:active {
  opacity: 0.3;
}
